/*背景设置*/
body {
    background-color: #656e7a;
}

.Button {
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: aqua;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: left;
    padding: 100px 200px;
}

.Button span {
  display: inline-block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.Button:hover span {
  transform: scale(3);
}

.Button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}

.Button:hover::before {
  height: 0;
}