html,body {
    display: flex;
    position: relative;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #ffebfc;

    margin: 0;
    align-items: flex-end;
}

#title {
    position: fixed;
    top: 20px;
}

/*缩放动画区*/
body {
    transition: transform 2s ease-in-out ,background-color 1s ease;
    transform-origin: bottom center;
}

.scaled {
    transform: scale(var(--scale-factor, 1)); /* 使用CSS变量 */
}
/*缩放动画区结束*/

/*文字区*/
#textL {
    display: flex;
    justify-content: space-around;
    height: 650px;
    width: 20%;
    position: absolute;
    left: 0;
    bottom: 0;
    flex-direction: column-reverse;

}
.leftText {
    text-align: right;
}

#textR {
    display: flex;
    justify-content: space-around;
    height: 650px;
    width: 20%;
    position: absolute;
    right: 0;
    bottom: 0;
    flex-direction: column-reverse;
}
.rightText {
    text-align: left;
}

#beian {
    position: fixed;
    bottom: 0;
    left: 55%;
}
/*文字区结束*/

/*树动画区*/
.tree {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.trunk, .branch {
    position: absolute;
    background-color: #70643c;
}
.trunk {
    width: 10px;
    height: 100px;
    bottom: 0;
    left: 50%;
}
.branch {
    transform-origin: bottom center;
    width: 2px;
    height: 0;
    bottom: 0;
    animation: grow 2s ease-in-out forwards;
}
@keyframes grow {
    0% { height: 0; opacity: 0; }
    100% { height: 100px; opacity: 1; }
}
/*树动画区结束*/